
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Inconsolata:wght@200..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    /*da um reset em todos os elementos da tela, nos 
    seus margins e paddings*/
}

.imagem{
    height: 410px;
    width: 35%;
}

body{
    box-sizing: border-box;
    height: 100vh;
    background-color: #CFE5F0;
    color: #53271E;

}

.titulo-destaque{
    color: #CC7ACC;
}

.apresentacao{
    margin: 11% 12%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao_conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.apresentacao_conteudo_titulo{
    font-size: 30px;
    font-family: "Bree Serif", serif;

}

.apresentacao_conteudo_texto{
    font-size: 20px; 
    font-family: "Josefin Sans", serif;
}

.apresentacao_links{
    display: flex;
    justify-content: space-evenly;
}

.apresentacao_links_link{

    width: 150px;
    height: 20px;
    text-align: center;
    border-radius: 20px;
    border-color: #CC7ACC;
    border-style: solid;
    font-size: 15px;
    padding: 10.5px 0;
    margin-top: 10px;
    text-decoration: none;
    color: #53271E; 
    font-family: "Bree Serif", serif;
}

.apresentacao_links_link:hover{
    background-color: #CC7ACC;
}

.btn-curriculo{
    display:flex ;
    justify-content: center;
}

h1{
    font-weight: bold;
    
}

 