@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Inconsolata:wght@200..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --cor-primaria: #CFE5F0; 
    --cor-secundaria: #CC7ACC;
    --cor-terciaria: #6486F0;
    --cor-titulos: #E67ACC;
    --cor-cabecalho: #c5e0e7;

    --fonte-principal: "Josefin Sans", sans-serif;
    --fonte-secundaria: "Bree Serif", serif;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    font-family: var(--fonte-principal);
}

/* Para navegadores WebKit (Chrome, Edge e Safari) */
::-webkit-scrollbar {
    width: 3px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: var(--cor-primaria);
}

::-webkit-scrollbar-thumb {
    background: var(--cor-secundaria); /* Cor do "botão" da barra */
    border-radius: 30px; 
}

::-webkit-scrollbar-thumb:hover {
    background-color:var(--cor-titulos);
    border: 5px  /* Borda visível ao passar o mouse */
}


.cabecalho {
    padding: 1% 0% 0% 15%;
    position: fixed; /* Fixa o cabeçalho na tela */
    top: 0; /* Gruda no topo */
    left: 0; /* Alinha à esquerda */
    width: 100%; /* Ocupa toda a largura */
    background-color:var(--cor-cabecalho); 
    padding: 1% 15%; /* Mantém o espaçamento */
    z-index: 1000; /* Garante que fique acima dos outros elementos */
}

.cabecalho_menu {
    display: flex;
    gap: 15px;
}

.cabecalho_menu_link {
    font-family: var(--fonte-secundaria);
    font-size: 1.4rem;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.sidebar {
    position: fixed; /* Fixa a barra na tela */
    left: 0; /* Alinha na lateral esquerda */
    top: 50%; /* Posiciona no meio da tela */
    transform: translateY(-50%); /* Ajusta a posição vertical */
    display: flex;
    flex-direction: column; /* Deixa os ícones na vertical */
    gap: 15px; /* Espaço entre os ícones */
    background-color: var(--cor-cabecalho);
    padding: 1%;
    border-radius: 0 10px 10px 0; /* Borda arredondada só do lado direito */
}

.sidebar a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.icone{
    font-size: 3.18rem;
    color:var(--cor-terciaria);   
    
 }
 
 .icone:hover{
     color:var(--cor-titulos);
 
 }


.titulo-destaque {
    color: var(--cor-secundaria);
}

.apresentacao {
    width: 100%; /* Garante que ocupe toda a largura */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centraliza tudo verticalmente */
    text-align: center;
    gap: 82px;
}

.apresentacao_conteudo {
    margin: 15% 0 0 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Garante que os elementos fiquem no centro */
    align-items: center;
    gap: 6px;
}

.apresentacao_conteudo_titulo {
    font-size: 5.43rem;
    font-family: var(--fonte-principal);
    padding: 0 9%; /* Reduzi o padding vertical para evitar empurrar o botão */
    text-align: center;
}

.star-icone{
    color: #FCD53F;
    font-size: 5rem;
    margin-left: 2px;
}


/* Aplica a animação ao ícone da seta */
.btn_flecha {
    margin: 200% 0 50% 0;
    animation: pular 1s infinite; /* Repete a animação infinitamente */
    margin-left: 8px; /* Espaçamento entre o texto e o ícone */
    font-size: 3.5rem; /* Tamanho do ícone */
    color: var(--cor-secundaria);

}

.apresentacao_links_sub {
    font-size: 2.43rem;
    color: var(--cor-titulos);
}

.apresentacao_conteudo_texto{
    font-size: 2.20rem;
    text-align: left;
    margin: 0 10px 120px 50px;
    width: 60%;
    font-family: var(--fonte-secundaria);
}

.apresentacao_conteudo_flex {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Distribui os elementos */
}

.imagem {
    width: 25%;
    border-radius: 50%;
    margin: 10px 0 30px 0;
}

.apresentacao_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.apresentacao_links_link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 160%;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    border: 0.2em solid var(--cor-secundaria);
    font-size: 1.5rem;
    padding: 23% 5% 23% 5%;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-principal);
    transition: background-color 0.3s;
}

.apresentacao_links_link:hover {
    background-color: var(--cor-secundaria);
   
}


h1 {
    font-weight: bold;
}


.conteiner-slider {
    width: 80%; /* Ajuste conforme necessário */
    max-width: 100%; /* Define um limite maior para acomodar 3 imagens */
    overflow: hidden;
    position: relative; /* Permite usar o 'top' para ajustar a posição */
    margin: 0 auto; /* Centraliza horizontalmente */
    top: 30px; /* Adiciona a margem superior de 30px */
}

.conteiner-imagens {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 14px; /* Espaço entre as imagens */
    width: 100%; /* Garantir que o contêiner ocupe toda a largura disponível */
}

.slider {
    display: block;
    width: calc(33.33% - 50px); /* Ajustar para que a soma das larguras com o gap caiba na tela */
    flex-shrink: 0;
}


.slider:hover{
    transform: scale(0.9);
    transition: transform 0.9s;
}


.on{
    opacity: 1;

}

.btn-proximo, .btn-anterior{
    font-size: 0.8rem;
    border: none;
    background-color: transparent;
    color: var(--cor-secundaria);

}

.btn-proximo:hover, .btn-anterior:hover {
    color: var(--cor-titulos);
   
 }
 

.btn_bolhinhas{
    display: flex;
    justify-content: center; /* Centraliza os botões horizontalmente */
    gap: 13px; /* Espaço entre os botões */
    margin: 30px 0 100px 0;
}

.btn_bolhinhas:hover{
    cursor: pointer;

}

.btn_redes_sociais{
    border-color:var(--cor-primaria);
    background-color: var(--cor-primaria);
    border-style: none;
    margin: 10px 0 0 0;
}


/* Animação seta */
@keyframes pular {
    0% {
        transform: translateY(0); /* Posição inicial */
    }
    50% {
        transform: translateY(-10px); /* Move a flecha para cima */
    }
    100% {
        transform: translateY(0); /* Volta à posição inicial */
    }
}


.rodape {
    padding: 1%;
    color: var(--cor-titulos);
    background-color: #BAE5F0;
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    margin-top: 4%;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 1%;
    }

    .cabecalho_menu {
        justify-content: center;
    }

    .apresentacao_conteudo {
        margin: 50% 0 0 0;
    }

    .apresentacao_links_link {
        margin-left: 10px;
        font-size: 2rem;
    }

    .apresentacao_conteudo_flex {
        flex-direction: column-reverse;
    }

    .imagem {
        width: 30%;
        border-radius: 50%;
    }

    .apresentacao_links_sub {
        margin-bottom: 40px;
        font-size: 3.43rem;
    }

    .conteiner-slider {
        width: 100%;
    }

    .conteiner-imagens {
        flex-direction: column;
    }

    .slider {
        width: 100%;
        margin-bottom: 20px;
    }

    .btn-anterior, .btn-proximo {
        display: none;
    }

    .icone {
        font-size: 4.18rem;
        color: var(--cor-terciaria);
    }

    .cabecalho_menu_link {
        font-size: 2.4rem;
    }
}


